
.carousel__container {
    overflow: hidden;
}
.inner {
    white-space: nowrap;
    transition: transform 0.3s;

}
.carousel__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 620px;
    color: blue;
}

@media screen and (max-width: 425px) {
    .carousel__item{
        height: 263px;
    }
    .button__next {
        top: 210px !important;
    }
    .button__previous{
        top: 210px !important;
    }
    .img__NyP {
        width: 20px !important;
        height: 26px !important;
    }
   
}

.button__next {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 340px;
    right: 30px;
}
.img__NyP {
    width: 41px;
    height: 71px;
    border-radius: 20px;
}

.button__previous {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 340px;
    left: 20px;
}
