@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.container__footer {
    background-color: #265E6C;
    height: 100%;
    padding: 50px;
}

.mcontigo {
    width: 190px;
    height: 32px;
}
.text {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0 24px;
    width: 454px;
}

.text__footer{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin:  20px ;
    text-align: center;
}



.line{
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .line{
        width: 800px;
    }
}
@media screen and (max-width: 768px) {
    .line{
        width: 700px;
    }
}
@media screen and (max-width: 425px) {
    .line{
        width: 400px;
    }
    .text {
        width: 300px;
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    .line{
        width: 300px;
    }
}
